<div>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="mb-3">
      <label for="username" class="form-label">{{"ADMIN_PANEL_PAGE.username" | translate}}
        <span class="text-danger">*</span>
      </label>
      <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" name="username" required
        [(ngModel)]="username">
      <div id="usernameHelp" class="form-text text-secondary">{{"ADMIN_PANEL_PAGE.username" | translate}}
        {{"ADMIN_PANEL_PAGE.must_be_unique" | translate}}</div>
    </div>
    <div class="mb-3" *ngIf="!this.config.data">
      <label for="password" class="form-label">{{"ADMIN_PANEL_PAGE.password" | translate}} <span
          class="text-danger">*</span></label>
      <input type="password" class="form-control" id="password" name="password" required minlength="6"
        [(ngModel)]="password">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">{{"ADMIN_PANEL_PAGE.email" | translate}} <span
          class="text-danger">*</span></label>
      <input type="email" id="email" class="form-control" name="email" required email [(ngModel)]="email" />
    </div>
    <div class="mb-3">
      <div>
        <label for="roleName" class="form-label">{{"ADMIN_PANEL_PAGE.role" | translate}}
          <span class="text-danger">*</span>
        </label>
      </div>
      <p-dropdown appendTo="body" id="roleName" [options]="roles" optionLabel="name" name="role" [(ngModel)]="role"
        [required]="true" ></p-dropdown>
    </div>
    <div class="mb-3 d-flex justify-content-start">
      <input type="checkbox" class="form-check-input" id="enabled" name="enabledCheckbox" [(ngModel)]="enabled" />
      <label class="form-check-label mx-2" for="enabled">{{"ADMIN_PANEL_PAGE.enable_user_checkbox" | translate}}</label>
    </div>
  </form>
</div>
<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-secondary mx-2"
    (click)="closeDialog()">{{"ADMIN_PANEL_PAGE.close_btn" | translate}}</button>
  <button type="submit" form="userForm" class="btn btn-primary" [disabled]="!userForm.valid"
    (click)="onSubmit(userForm)">
    <span *ngIf="!this.config.data">{{"ADMIN_PANEL_PAGE.add_user_btn" | translate}}</span>
    <span *ngIf="this.config.data">{{"ADMIN_PANEL_PAGE.update_user_btn" | translate}}</span>
  </button>
</div>