<div class="aboutus-section">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aboutus">
                  <h2 class="aboutus-title">{{ "ABOUT_US_PAGE.about_us" |translate}}</h2>
                  <p class="aboutus-text">{{ "ABOUT_US_PAGE.1st_col_1st_p" |translate}}</p>
                  <p class="aboutus-text">{{ "ABOUT_US_PAGE.1st_col_2nd_p" |translate}}</p>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="feature">
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>{{ "ABOUT_US_PAGE.2nd_col_1st_h" |translate}}</h4>
                              <p>{{ "ABOUT_US_PAGE.2nd_col_1st_p" |translate}}</p>
                          </div>
                      </div>
                  </div>
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>{{ "ABOUT_US_PAGE.2nd_col_2nd_h" |translate}}</h4>
                              <p>{{ "ABOUT_US_PAGE.2nd_col_2nd_p" |translate}}</p>
                          </div>
                      </div>
                  </div>
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>{{ "ABOUT_US_PAGE.2nd_col_3rd_h" |translate}}</h4>
                              <p>{{ "ABOUT_US_PAGE.2nd_col_3rd_p" |translate}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>