<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">

    <div class="modal d-block" tabindex="-1" data-toggle="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title"><span *ngIf="!data">Add new</span><span *ngIf="data">Update</span> role</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeDialog()"></button>
          </div>
          <div class="modal-body">
            <form #roleForm="ngForm" (ngSubmit)="onSubmit(roleForm)">
              <div class="mb-3">
                <label for="rolename" class="form-label">role name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="rolename" aria-describedby="rolenameHelp" ngModel name="roleName" required [(ngModel)]="roleName">
                <div id="rolenameHelp" class="form-text text-secondary">role name must be unique</div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeDialog()">Close</button>
            <button type="submit" form="roleForm" class="btn btn-primary" [disabled]="!roleForm.valid" (click)="onSubmit(roleForm)">
              <span *ngIf="!this.data">Add role</span>
              <span *ngIf="this.data">Update role</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>