<div *ngIf="isLoading" class="text-center mt-5">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="list-group ms-3 mt-3" *ngFor="let course of courses;let i = index">
  <a class="list-group-item list-group-item-action mb-2" aria-current="true" [routerLink]="[i]">
    <div class="row">
      <div class="col-5 p-0">
        <img [src]="course.imagePath">
      </div>
      <div class="col-7">
        <div class="d-flex w-100 justify-content-between">
          <h4 class="mb-1">{{course.name}}</h4>
          <small>{{course.creationDateFormatted}}</small>
        </div>
        <p class="mb-1">{{course.headline}}</p>
        <strong>{{course.instructorId}}</strong><br>
        <small>{{course.totalHours}} total hours</small>
      </div>
    </div>
  </a>
</div>
