<!-- <p>recipe-list works!</p> -->
<!-- <div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Course</button>
  </div>
</div>
<hr> -->

<div class="row">
  <div class="col-xs-12">
    <ng-container *ngIf="(courses$|async) as coursesObs">
      <div *ngFor="let course of coursesObs;let i = index">
        <span>{{course.id}}</span>
        <span>{{course.name}}</span>
        <span>{{course.description}}</span>
        <span>{{course.instructorId}}</span>
      </div>
    </ng-container>
  </div>
</div>
