<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Courses Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-0 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/{{routerPaths.COURSES}}">Browse courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/{{routerPaths.ENROLLMENTS}}" *ngIf="currentRoleId===userRoles.STUDENT">My learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/{{routerPaths.PUBLISHED_COURSES}}" *ngIf="currentRoleId===userRoles.INSTRUCTOR" >My courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/{{routerPaths.ADMIN_PANEL}}" *ngIf="currentRoleId===userRoles.ADMIN">Administration Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/{{routerPaths.ABOUT_US}}">About Us</a>
        </li>
        <li class="nav-item" *ngIf="currentPath===routerPaths.COURSES">
          <form class="d-flex" role="search" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
            <input  placeholder="search for course" type="text" class="form-control" aria-describedby="usernameHelp"
            ngModel name="searchQuery" (input)="onSubmit(searchForm)">
            <button class="btn btn-outline-success ms-2"  type="submit" [disabled]="!searchForm.valid">Search</button>
          </form>
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-outline-success me-2" type="button" routerLink="/{{routerPaths.AUTH}}" *ngIf="!isAuthenticated">Join Us</button>
        <button class="btn btn-outline-danger me-1" type="button" (click)="onLogout()" *ngIf="isAuthenticated" >Logout</button>
      </div>
    </div>
  </div>
</nav>