<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">{{"COURSES_WEBSITE" | translate}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-0 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/{{routerPaths.COURSES}}">{{"HEADER.browse_courses" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/{{routerPaths.ENROLLMENTS}}" *ngIf="currentRoleId===userRoles.STUDENT">{{ "HEADER.my_learning" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/{{routerPaths.PUBLISHED_COURSES}}" *ngIf="currentRoleId===userRoles.INSTRUCTOR">{{ "HEADER.my_courses" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/{{routerPaths.ADMIN_PANEL}}" *ngIf="currentRoleId===userRoles.ADMIN">{{ "HEADER.admin_panel" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/{{routerPaths.ABOUT_US}}">{{"ABOUT_US_PAGE.about_us" | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="currentPath===routerPaths.COURSES">
          <form class="d-flex" role="search" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
            <input  [placeholder]= "'HEADER.input.placeholder' | translate" type="text" class="form-control" aria-describedby="usernameHelp"
            ngModel name="searchQuery" (input)="onSubmit(searchForm)">
            <button class="btn btn-outline-success ms-2"  type="submit" [disabled]="!searchForm.valid">{{ "HEADER.search" | translate}}</button>
          </form>
        </li>
      </ul>
      <div class="d-flex">
        <p-dropdown class="me-2" [(ngModel)]="selectedLang" [options]="langs" optionLabel="name" (onChange)="onLangChange()"></p-dropdown>
        <button class="btn btn-outline-success me-2" type="button" routerLink="/{{routerPaths.AUTH}}" *ngIf="!isAuthenticated">{{"HEADER.join_us" | translate}}</button>
        <button class="btn btn-outline-danger me-1" type="button" (click)="onLogout()" *ngIf="isAuthenticated" >{{"HEADER.log_out" | translate}}</button>
      </div>
    </div>
  </div>
</nav>