<div *ngIf="isLoading" class="text-center mt-5">
  <app-loading-spinner></app-loading-spinner>
</div>


<div class="list-group ms-3 mt-3" *ngFor="let studentCourse of studentCoursesData;let i = index">
  <div class="list-group-item  mb-2" aria-current="true">
    <div class="d-flex justify-content-between">
      <div class="">
        <img [src]="studentCourse.imagePath">
      </div>
      <div class="mx-2">
        <div class="d-flex w-100 justify-content-between">
          <a class="list-group-item-action w-50" [routerLink]="[i]">
            <h4 class="mb-1">{{studentCourse.courseName}}</h4>
          </a>
          <div>
            <div class="flex justify-content-center">
              <a (click)="coursesMenu.toggle($event);getCourseIndexes(i,studentCourse.id)" title="Edit" data-toggle="tooltip" type="button" ><i class="pi pi-ellipsis-v"></i></a>
              <p-menu #coursesMenu [model]="items" [popup]="true" appendTo="body" styleClass="max-w-9rem"></p-menu>
            </div>
          </div>
        </div>
        <p class="mb-4">{{studentCourse.headline}}</p>
        <span>Instructor name <strong>{{studentCourse.instructorName}}</strong></span><br>
        <small class="me-2">Enrolled from {{studentCourse.enrollmentDateFormatted}}</small>
      </div>
    </div>
  </div>
</div>
