<div class="container">
  <div class="mb-3 mt-3 ms-3 d-flex align-items-start justify-content-between">
    <h1 class="section-title fw-medium">{{"ADMIN_PANEL_PAGE.user_management" | translate}}</h1>
    <div>
      <p-button class="mx-3" [label]="'ADMIN_PANEL_PAGE.new_user_btn' | translate" (click)="openUserDialog()"></p-button>
      <p-button [label]="'ADMIN_PANEL_PAGE.export_users_btn' | translate" [loading]="isExportBtnLoading" (click)="onExportUsers()"></p-button>
    </div>
  </div>
</div>

<div class="container">
  <p-table [value]="usersPaginatedList" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>{{"ADMIN_PANEL_PAGE.username" | translate}}</th>
        <th>{{"ADMIN_PANEL_PAGE.email" | translate}}</th>
        <th>{{"ADMIN_PANEL_PAGE.role" | translate}}</th>
        <th>{{"ADMIN_PANEL_PAGE.status" | translate}}</th>
        <th>{{"ADMIN_PANEL_PAGE.action" | translate}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
      <tr>
        <td>{{user.id}}</td>
        <td>
          <div class="flex" [ngClass]="translateService.currentLang === 'en'?'justify-content-start':'justify-content-center'">
            <i class="pi pi-user mx-2"></i>
            <span>{{user.username}}</span>
          </div>
        </td>
        <td>{{user.email}}</td>
        <td>{{user.role.name | lowercase}}</td>
        <td><span [ngClass]="{'text-success': user.enabled == '1','text-warning': user.enabled == '0'}">&bull;</span>
          <span *ngIf="user.enabled == '1'"> Active</span> <span *ngIf="user.enabled == '0'"> Inactive</span> </td>
        <td>
          <button pButton pRipple type="button" icon="pi pi-pencil" (click)="onEdit(rowIndex + (currentPage - 1) * itemsPerPage ,user.id)" class="p-button-rounded p-button-text" title="Settings" data-toggle="tooltip"></button>
          <button pButton type="button" icon="pi pi-times" (click)="onDelete(user.id)" class="p-button-rounded p-button-text text-red-500" title="Delete" data-toggle="tooltip"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator (onPageChange)="onPageChange($event)" [first]="(currentPage - 1) * itemsPerPage" [rows]="itemsPerPage" [totalRecords]="users.length"  [pageLinkSize]="2"></p-paginator>
</div>