<div class="container">
  <div class="mb-3 mt-3 ms-3 d-flex align-items-start justify-content-between">
    <h1 class="section-title fw-medium">User management</h1>
    <div>
      <p-button class="me-3" label="Add new user" (click)="openUserDialog()"></p-button>
      <p-button label="Export users" [loading]="isExportBtnLoading" (click)="onExportUsers()"></p-button>
      <!-- <button class="btn btn-primary me-3" type="button" (click)="onExportUsers()">Export users</button> -->
    </div>
  </div>
</div>

<div class="container">
  <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
      <tr>
        <td>{{user.id}}</td>
        <td>
          <div class="d-flex">
            <i class="pi pi-user me-2"></i>
            <span>{{user.username}}</span>
          </div>
        </td>
        <td>{{user.email}}</td>
        <td>{{user.role.name | lowercase}}</td>
        <td><span [ngClass]="{'text-success': user.enabled == '1','text-warning': user.enabled == '0'}">&bull;</span>
          <span *ngIf="user.enabled == '1'"> Active</span> <span *ngIf="user.enabled == '0'"> Inactive</span> </td>
        <td>
          <button pButton pRipple type="button" icon="pi pi-pencil" (click)="onEdit(rowIndex,user.id)" class="p-button-rounded p-button-text" title="Settings" data-toggle="tooltip"></button>
          <button style="color: #F44336;" pButton type="button" icon="pi pi-times" (click)="onDelete(user.id)" class="p-button-rounded p-button-text" title="Delete" data-toggle="tooltip"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>