<div class="scrollspy-example max-h-screen overflow-scroll">
  <div class="container">
    <div *ngIf="isLoading" class="text-center mt-5">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <div class="mt-2 mb-3" *ngIf="currentPath === routerPaths.PUBLISHED_COURSES">
      <button class="btn btn-primary me-3" type="button" (click)="openCourseDialog()">{{"INSTRUCTOR_COURSES.add_courses_btn"|translate}}</button>
    </div>

    <div class="grid">
      <div class="ms-3 mt-3 col" *ngFor="let course of filteredCourses;let i = index">
        <p-card header={{course.name}} subheader={{course.headline}} [style]="{ width: '320px' }">
          <ng-template pTemplate="header">
            <a [routerLink]="getCrsIdForRouter(i)" *ngIf="currentPath === routerPaths.COURSES"><img [src]="course.imagePath"
                alt="course photo"></a>
            <a *ngIf="currentPath === routerPaths.PUBLISHED_COURSES"><img [src]="course.imagePath" alt="course photo"></a>
          </ng-template>
          <ng-template pTemplate="content">
            <strong>Instructor: {{course.instructorName}}</strong><br>
            <small>{{course.creationDateFormatted}}</small>
          </ng-template>
          <ng-template pTemplate="footer">
            <div *ngIf="currentPath === routerPaths.PUBLISHED_COURSES">
              <p-button icon="pi pi-pencil" (click)="onEdit(i,course.id)" styleClass="p-button-rounded"></p-button>
              <p-button icon="pi pi-times" (click)="onDelete(course.id)" styleClass="p-button-danger p-button-rounded"
                [ngClass]="'mx-2'"></p-button>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>