
.center {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  max-width: 50em;
  margin: 0 auto;
}

.error__title {
  background: linear-gradient(#00bcd4, #9575cd);
  -webkit-background-clip: text;
          background-clip: text;
  font-family: "Montserrat";
  font-size: 18rem;
  font-weight: 200;
  margin: 0;
  -webkit-text-fill-color: transparent;
}
.error__type {
  color: #112D4E;
  font-weight: 600;
  font-size: 2.75rem;
  letter-spacing: 0.125em;
  margin: 0;
  text-transform: uppercase;
}
.error__cta {
  color: #112D4E;
  font-family: "Source Sans Pro";
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2;
}


@media (max-width: 40em) {
  .error__title {
    font-size: 10rem;
  }
  .error__type {
    font-size: 1.25rem;
  }
  .error__cta {
    font-size: 1rem;
  }
}