<footer class="footer">
  <div class="d-flex justify-content-between flex-wrap align-items-center px-3 py-4 my-2 text-body-secondary">

    <!-- Footer content -->
    <div class="d-flex justify-content-start flex-wrap">
      <div><a routerLink="/home" class="nav-link px-2">{{ "FOOTER.home" |translate}}</a></div>
      <div><a routerLink="/courses" class="nav-link px-2">{{ "FOOTER.Courses" |translate}}</a></div>
      <div><a routerLink="/home" class="nav-link px-2">{{ "FOOTER.Pricing" |translate}}</a></div>
      <div><a routerLink="/home" class="nav-link px-2">{{ "FOOTER.FAQs" |translate}}</a></div>
      <div><a routerLink="/aboutUs" class="nav-link px-2">{{ "FOOTER.About_us" |translate}}</a></div>
    </div>
    <p class="m-0">{{ "FOOTER.footer_template" |translate}}</p>
  </div>
</footer>